# flask
FLASK_APP=src
FLASK_DEBUG=True
FLASK_RUN_HOST=0.0.0.0
SERVER_NAME=example.com
FLASK_ENV=development
# JSONIFY_PRETTYPRINT_REGULAR=False

# flask-security
# could be generated with:
#   python -c "import secrets; print(secrets.token_hex())"
SECRET_KEY=have-a-nice-day
SECURITY_PASSWORD_SALT=have-a-nice-day
SECURITY_PASSWORD_HASH=bcrypt

# db
SQLALCHEMY_DATABASE_URI=postgresql://postgres:postgres@localhost:5432/your-db-name

# mail
# you should only set one from MAIL_USE_TLS and MAIL_USE_SSL
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USE_TLS=yes
MAIL_USERNAME=name@example.com
MAIL_PASSWORD=password
# email@example.com or "Name <email@example.com>"
MAIL_DEFAULT_SENDER="Name <email@example.com>"
MAIL_MAX_MAILS=1000

# redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=
REDIS_PASSWORD=

# flask-session
SESSION_TYPE=redis
SESSION_REDIS=redis://localhost:6379/1

# celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=db+postgresql://postgres:postgres@localhost:5432/your-db-name
