# flask
FLASK_APP=src
FLASK_DEBUG=True
FLASK_RUN_HOST=0.0.0.0
SERVER_NAME=example.com
FLASK_ENV=development
FLASK_LOG_PATH=/var/log/ladder_dashboard/app.log
# JSONIFY_PRETTYPRINT_REGULAR=False

# flask-security
# on prod env, keys should be generated with:
#   python -c "import secrets; print(secrets.token_hex())"
SECRET_KEY=have-a-nice-day
SECURITY_PASSWORD_SALT=have-a-nice-day
SECURITY_PASSWORD_HASH=bcrypt

# db
POSTGRES_DB=ladder_dashboard
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Must-have-a-pg-passworD
SQLALCHEMY_DATABASE_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=Must-have-redis-passworD
REDIS_URI=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/0

# flask-session
SESSION_TYPE=redis
SESSION_REDIS=${REDIS_URI}

# celery
CELERY_BROKER_URL=${REDIS_URI}
CELERY_RESULT_BACKEND=db+${SQLALCHEMY_DATABASE_URI}

# mail
# you should only set one from MAIL_USE_TLS and MAIL_USE_SSL
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USE_TLS=yes
MAIL_USERNAME=name@example.com
MAIL_PASSWORD=password
# email@example.com or "Name <email@example.com>"
MAIL_DEFAULT_SENDER="Name <email@example.com>"
MAIL_MAX_MAILS=1000
