{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h3 class="card-title text-center">DASHBOARD</h3>
    <p class="text-muted text-center">Create an account...</p>
    <form id="signup-form">
      {{ form.csrf_token }}
      <div class="form-group">
        <input name="inviteCode" class="form-control" placeholder="Invite Code" required>
      </div>
      <div class="form-group">
        <input name="name" class="form-control" placeholder="Name" required>
      </div>
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email Address" required>
      </div>
      <!--
      <div class="form-group">
        <input type="phone" class="form-control" placeholder="Phone Number">
      </div>
      -->
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password" pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]+" minlength=8 required title="at least 8 length, contains one letter and one number">
        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="terms" id="terms">
          <label class="form-check-label" for="terms">
            I have read and agree to the <a href="#">Terms of Service</a>
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
      <p class="text-center">Already have an account? <a href="/login">Sign In</a></p>
    </form>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="messageModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="messageContent"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(function() {

    function showMessage(title, message) {
      $('#messageModal .modal-title').text(title);
      $('#messageContent').text(message);
      $('#messageModal').modal('show');
      Overlay.hide();
    }

    $('#signup-form').submit(function(e) {
      e.preventDefault();

      Overlay.show();

      var formDataArray = $('#signup-form').serializeArray();

      var formData = Object.fromEntries(
        formDataArray.map(item => [item.name, item.value])
      );

      if ($('#terms').is(':checked') == false) {
        showMessage('Error', 'Please accept terms and conditions.');
        return;
      }

      if (!formData.inviteCode) {
        showMessage('Error', 'Please enter invite code.');
        return;
      }

      if (!formData.password || !formData.confirmPassword) {
        showMessage('Error', 'Please enter password and confirm password.');
        return;
      }

      if (formData.password !== formData.confirmPassword) {
        showMessage('Error', 'Password and confirm password does not match.');
        return;
      }

      $.ajax({
        url: 'signup',
        type: 'POST',
        data: formData,
        success: function(data) {
          Overlay.hide();
          showMessage('Success', 'Your account has been created successfully. Please check the confirmation email and verify your account.');
          setTimeout(function() {
            window.location.href = data.next_url;
          }, 3000);
        },
        error: function(error) {
          Overlay.hide();
          console.log('Error', error);
          if (error.responseJSON) {
            var errors = error.responseJSON;
            var messages = Object.values(errors).map(function(item) {
              if (Array.isArray(item)) {
                return item.join('\n');
              } else {
                return item;
              }
            })
            showMessage('Error', messages);
          } else if (error.responseText && error.responseText.includes('expired')) {
            showMessage('Error', 'The page is expired. Please refresh and try again.');
          } else {
            showMessage('Error', 'Something went wrong. Please try again later or contact us.');
          }
        }
      });
    });
  });
</script>
{% endblock %}