{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
<div class="card">
  <div class="card-body">
  {% include "security/_messages.html" %}
  <h3>{{ _fsdomain('Reset password via email') }}</h3>
  <form action="{{ url_for_security('forgot_password') }}" method="post" name="forgot_password_form">
    {{ forgot_password_form.hidden_tag() }}
    {{ render_field_with_errors(forgot_password_form.email, class="form-control", placeholder="Email", required=true) }}
    {{ render_field(forgot_password_form.submit, class="btn btn-primary btn-block") }}
  </form>
  <!-- {% include "security/_menu.html" %} -->
  </div>
</div>
{% endblock content %}
